@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headline-sec .profession {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job {
  margin-top: 3rem;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
  width: 327px;
}

.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  right: 1em;
  top: 1em;
}

.header .welcome-logo {
  font-size: 1.25rem;
  font-weight: 600;
}

.name {
  margin-top: 10px;
  color: #172b4d;
}

.job-title {
  color: #36b37e;
}

.text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #172b4d;
}

.headline-contact {
  margin-top: -90px;
}

.headline-contact .social {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  justify-content: center;
  text-align: center;
}

ul li {
  list-style: none;
}

@media (max-width: 768px) {
  .welcome-logo {
    margin-left: 3px;
  }

  .nav {
    margin-right: 15px;
    cursor: pointer;
  }

  .header {
    margin: 20px;
  }

  .headline-sec {
    display: flex;
    flex-direction: column;
    height: 648px;
    background-image: url(/img/bg-header-illsutration-img/header-illsutration-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Meni Icon(hamburger */
  .hamburger {
    display: block;
    background: #000;
    width: 1.5em;
    height: 3px;
    position: relative;
    border-radius: 2em;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: #000;
    width: 1.5em;
    height: 3px;
    border-radius: 2em;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }

  .text {
    width: 327px;
    margin: 1.8rem 2rem 0 1.2rem;
  }

  .work-section .work-header {
    width: 327px;
    line-height: 75px;
  }

  .work-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 68px;
  }

  .about-text img {
    top: 50px;
  }

  .about-section {
    background-image:
      url(/img/about-bg/illustration1-about-me-mobile.svg),
      url(/img/about-bg/illustration-about-me-mobile.svg);
    background-repeat: no-repeat;
    background-position: right -2.1%, 6% -4%;
  }

  .about-section .about-text {
    gap: 24px;
    width: 351px;
    height: 333px;
    text-align: center;
  }

  .profession-skills {
    row-gap: 24px;
  }
}

.text-container button,
.about-section button {
  border: none;
  color: #fff;
  background: none;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
}

/* social contact icons */

.social .social-links {
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
  list-style: none;
  transition: transform 0.2s ease-out;
}

.social-links:hover {
  transform: translateY(-4px);
  transition: all 0.2s ease-in;
}

.down-arrow {
  text-align: center;
  margin: 20px 0 0 0;
}

/* Work section */

.work-section .work-header {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  color: #172b4d;
  margin-top: 64px;
}

.bottom-border {
  margin: 10px;
}

.projects {
  display: grid;
  row-gap: 25px;
  margin-top: 40px;
}

.projects .projects-card {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 474px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 6px;
}

.projects-card .image-holder {
  margin-bottom: 15rem;
}

.projects-card .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  background-color: #fff;
  border-radius: 8px;
  top: 252px;
  height: 231px;
}

.text-container .project-header {
  width: 295px;
  height: 52px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.text-container .project-language {
  display: flex;
  justify-content: start;
  width: 309px;
  gap: 8px;
  height: 32px;
}

.project-language .language {
  background: #ebf0ee;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  list-style: none;
  white-space: nowrap;
}

.text-container .button {
  width: 122px;
  margin: 24px;
  padding: 12px;
  background: #36b37e;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
}

.about-text .button {
  width: 159px;
  height: 48px;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  cursor: pointer;
}

.text-container .button:hover,
.about-text .button:hover {
  background: #36b37f;
  transition: all 0.5s ease;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* about section */

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.about-section .about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 351px;
  height: 333px;
  gap: 24px;
  text-align: center;
  margin-bottom: 60px;
}

.about-text .primary-text {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
}

.about-text .secondary-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #42526e;
}

.profession-skills {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.profession-skills .card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 327px;
  height: 352px;
  background-color: #ebf0ee;
  box-sizing: border-box;
  border-radius: 8px;
}

.card2 .language-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #344563;
}

.card2 .skills {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.skills li {
  font-weight: 600;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #36b37f;
  list-style: none;
  padding: 12px;
}

.framework {
  height: 88px;
  top: 56px;
  gap: 8px;
}

/* styling form section */

.form-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(/img/form-bg/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: 97.72% 91%;
  width: 100%;
  gap: 58px;
  padding: 64px 24px 64px 24px;
}

.form-section .form-text-primary {
  display: flex;
  text-align: center;
  width: 327px;
  top: 64px;
  left: 24px;
  gap: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 320px;
  height: 330px;
}

form .text-field {
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  left: 15px;
  width: 327px;
  height: 48px;
  padding: 10px;
  outline: none;
  background-color: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

form textarea {
  width: 327px;
  padding: 10px;
  height: 114px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

form .submitBtn {
  border: none;
  color: #ffff;
  padding: 12px;
  gap: 10px;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  height: 48px;
  width: 129px;
  background: #36b37f;
  border-radius: 4px;
  cursor: pointer;
  line-height: 24px;
}

input:focus,
textarea:focus {
  border-color: #36b37e;
}

form button:hover {
  background: #36b37f;
  transition: all 0.5s ease;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form-section .social-contact .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.support-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
}

.support-text a {
  text-decoration: none;
  color: #42526e;
  font-size: 20px;
  font-weight: 400;
  height: 189px;
}
